<div class="footer">
  <div class="top">
    <img id='connect' src="../../assets/img/connect.png" alt="Connect with us">
    <img id='owners' src="../../assets/img/owners.png" alt="Owned By">
  </div>
  <div class="bottom">
    <ul id='top-ul'>
      <li *ngFor='let index of secondList'><span>{{index.information}}</span></li>
    </ul>
    <ul id='bottom-ul'>
      <li *ngFor='let i of thirdList'><span>{{i.information}}</span></li>

     </ul>
     <img id='georgia' src="../../assets/img/georgia.png" alt="georgia">
     <img id='poweredby' src="../../assets/img/powered-by.png" alt="Powered By">
  </div>
</div>
