

<div class="page">
  <div class="firstSection">
    <div class="left-column">
      <div class="container">

        <a href='https://weather.com/news/news/2019-03-28-montana-north-dakota-homes-evacuated-flooding'><img src="../../assets/img/statewide-flood.png" alt="Video of Massive Flood"></a>
        <div class="text">
          <h1>Statewide Flood Emergency:</h1>
          <h1>Homes Evacuated, Highway</h1>
          <h1>Closed</h1>
          <p>"All signs point to a high potential for significant floods that could overwhelm local response capabilities across the state"</p>
          <a id='link'><p>SEE MORE -></p></a>

        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="left-left-column">
        <div class="top articles">
          <img src="../../assets/img/severe-threat.png" alt="Severe Threat Weather">
          <p>Severe Threat: Hail, Damaging Wind Possible</p>
        </div>
        <div class="middle articles">
          <img src="../../assets/img/Outrage.jpg" alt="Outrage after StockPile">
          <p>Outrage After Stockpile of Bottled Water Discovered in</p>
        </div>
        <div class="bottom articles">
          <img src="../../assets/img/tree-pollen.jpg" alt="Tree Pollen">
          <p>Nightmare Tree Pollen Situation</p>
        </div>
      </div>
      <div class="right-left-column">
        <div class="container">
          <img src="../../assets/img/ad2.jpg" alt="Ad2">
          <div class="text">
            <h2>Does Your Workforce</h2>
            <h2>Have The Tools They</h2>
            <h2>Need to Thrive?</h2>
            <h6>SPONSORED BY CITRIX</h6>
            <p>Equip your workforce with a secure,</p>
            <p>unified platform-so they can access</p>
            <p>the tools and apps they need to get</p>
            <p>their work done their way</p>

          </div>
          <button (click)="addClicked('Ad2 Clicked')">See More</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="trending">
    <h3>Trending</h3>
    <div class="container">
      <div class="trending1 trends">
        <a href="https://weather.com/news/trending/video/strong-winds-send-man-flying"><img src="../../assets/img/windy.gif" alt="Crazy Wind"></a>
        <h6>TRENDING NEWS</h6>
        <p>When Wind Starts to Blow, This is</p>
        <p>Why You Let Go of an Umbrella</p>
      </div>
      <div class="trending2 trends">
        <a href="https://weather.com/storms/tornado/news/2018-03-27-april-may-june-tornadoes-peak-months"><img src="../../assets/img/primary-nadoes.jpg" alt="Tornado Risk"></a>
        <h6>TORNADO CENTRAL</h6>
        <p>Where Tornado Risk is Greatest in</p>
        <p>the Coming Months</p>
      </div>
      <div class="trending3 trends">
        <a href="https://weather.com/news/news/2019-03-29-deadly-frog-fungus-wiped-out-90-species"><img src="../../assets/img/frog.png" alt="Frog Apocalypse"></a>
        <h6>NEWS</h6>
        <p>Amphibian Apocalypse Arrival?</p>
      </div>
      <div class="trending4 trends">
        <a href="https://weather.com/news/trending/video/mystery-behind-garfield-phones-washing-up-in-france-finally-solved"><img src="../../assets/img/garfield.png" alt="Garfield the Cat Mystery Solved"></a>
        <h6>TRENDING NEWS</h6>
        <p>Decades-Long Mystery Solved: Is</p>
        <p>That Garfield?</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="third">
    <div class="weatherRadar">
      <h3>Expore Your Area</h3>
      <img src="../../assets/img/weatherRadar.png" alt="Weather Radar" id="radarMap">
    </div>
    <div class="ads">
      <img src="../../assets/img/ad3.png" alt="Ad" id='bigad'>
      <h2>STAY UP TO DATE</h2>
      <div class="images">
        <img src="../../assets/img/ad4.png" alt="Ad">
        <img src="../../assets/img/ad5.png" alt="Ad">
        <img src="../../assets/img/ad6.png" alt="Ad">
      </div>
    </div>
  </div>
  <img src="../../assets/img/ad7.png" alt="Ad" id='ad7'>
  <hr>
  <div class="fourth">
    <h3>RECOMMENDED</h3>
    <div class="container">
      <div class="thing">
        <img src="../../assets/img/leaking.jpg" alt="Leaking Hot Air?">
        <h6>WINTER SAFETY AND PREPAREDNESS</h6>
        <p>Is Your House Leaking Hot Air?</p>
      </div>
      <div class="thing">
        <img src="../../assets/img/allergies.jpg" alt="ALlergies?">
        <h6>ALLERGY</h6>
        <p>Worst Plants for Spring Allergies</p>
      </div>
      <div class="thing">
        <img src="../../assets/img/safestplace-tornado.jpg" alt="Keep Safe against a tornado">
        <h6>TORNADO SAFETY AND PREPAREDNESS</h6>
        <p>Safest Place to Wait Out A Tornado</p>
      </div>
      <div class="thing">
        <img src="../../assets/img/allerycapitols.jpg" alt="Allergy Capitols">
        <h6>ALLERGY</h6>
        <p>Spring Allery Capitols: WHich City</p>
        <p>Rands the Worst</p>
      </div>

    </div>

  </div>
  <hr>
  <div class="fifth">
    <div class="container">
      <div class="ads">
        <img src="../../assets/img/ad8.png" alt="Ad">
        <img src="../../assets/img/ad9.png" alt="Ad">
        <img src="../../assets/img/ad10.png" alt="Ad">
      </div>
      <h3>OUR PHOTO GALLERY PICKS</h3>
      <div class="photo-gallery">
        <div class="thing">
          <img src="../../assets/img/humitarian.jpg" alt="Humanitarian">
          <h5>Humanitarian Crisis COntinues in Mozambique After Cyclone Idai</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/katrina.jpg" alt="Katrina Flooding">
          <h5>After the Waters Recede: A Peek Inside New Orleans' New Katrina Flooded</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/magnifying-spring.jpg" alt="Spring">
          <h5>Magnifying Spring with Zoltan Attila Kecskes (Photos)</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/super-worm-equinox.jpg" alt="Super Worm Equinox">
          <h5>Wednesday Night's Super Worm Equinox Moon was the Last SuperMoon of 2019</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/historic-flooding-continues.jpg" alt="History Flooding">
          <h5>Historic Flooding Continues in Midwest (PHOTOS)</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/celebrate-spring.jpg" alt="Celebrate Spring">
          <h5>Nest Way to Celebrate Spring in Every State (PHOTOS)</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/torrential-rain.jpg" alt="Torrential Rain">
          <h5>Torrential Rain Triggers Deadly Flooding in Indonesia (Photos)</h5>
        </div>
        <div class="thing">
          <img src="../../assets/img/ten-places-to-visiti.jpg" alt="Ten Places to Visit">
          <h5>10 Places You Have to See in March (PHOTOS)</h5>
        </div>
      </div>
    </div>
  </div>

</div>
