<div class="page">
  <div class="firstSection">
    <div class="left-column">
      <div class="container">
        <img src="../../assets/img/statewide-flood.png" alt="VIdeo of Massive Flood">
        <div class="text">
          <h1>Statewide Flood Emergency:</h1>
          <h1>Homes Evacuated, Highway</h1>
          <h1>Closed</h1>
          <p>"All signs point to a high potential for significant floods that could overwhelm local response capabilities across the state"</p>
          <a id='link'><p>SEE MORE -></p></a>

        </div>
      </div>
    </div>
    <div class="right-column">

    </div>
  </div>

</div>
