.page {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 40px;
  .firstSection {
    .left-column {
      .container {
        width: 546.328px;
        height: 567.297px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        font-weight: 400;
        color: #393939;
        img {
          width: 100%;
        }
        .text {
          line-height: 1.25em;
          p {
            font-size: 24px;
            line-height: 1.5em;
          }
        }
        .text:hover {
          cursor: pointer;
          color: #3c8ed2;
        }
        h1 {
          font-size: 32px;
        }
        #link {
          color: #3c8ed2;
          p {

            font-size: 20px;
          }
        }

      }
    }
  }
}
