<div class="page">
  <div class="firstSection">
    <div class="left-column">
      <div class="container">
        <a href='https://weather.com/news/news/2019-03-28-montana-north-dakota-homes-evacuated-flooding'><img src="../../assets/img/statewide-flood.png" alt="Video of Massive Flood"></a>
        <div class="text">
          <h1>Statewide Flood Emergency:</h1>
          <h1>Homes Evacuated, Highway</h1>
          <h1>Closed</h1>
          <p>"All signs point to a high potential for significant floods that could overwhelm local response capabilities across the state"</p>
          <a id='link'><p>SEE MORE -></p></a>

        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="left-left-column">
        <div class="top articles">
          <img src="../../assets/img/severe-threat.png" alt="Severe Threat Weather">
          <p>Severe Threat: Hail, Damaging Wind Possible</p>
        </div>
        <div class="middle articles">
          <img src="../../assets/img/Outrage.jpg" alt="Outrage after StockPile">
          <p>Outrage After Stockpile of Bottled Water Discovered in</p>
        </div>
        <div class="bottom articles">
          <img src="../../assets/img/tree-pollen.jpg" alt="Tree Pollen">
          <p>Nightmare Tree Pollen Situation</p>
        </div>
      </div>
      <div class="right-left-column">
        <div class="container">
          <img src="../../assets/img/ad2.jpg" alt="Ad2">
          <div class="text">
            <h2>Does Your Workforce</h2>
            <h2>Have The Tools They</h2>
            <h2>Need to Thrive?</h2>
            <h6>SPONSORED BY CITRIX</h6>
            <p>Equip your workforce with a secure,</p>
            <p>unified platform-so they can access</p>
            <p>the tools and apps they need to get</p>
            <p>their work done their way</p>

          </div>
          <button (click)="addClicked('Ad2 Clicked')">See More</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="trending">
    <h3>Trending</h3>
    <div class="container">
      <div class="trending1 trends">
        <img src="../../assets/img/windy.gif" alt="Crazy Wind">
        <h6>TRENDING NEWS</h6>
         <p>WHen Wind Starts to Blow, This is</p>
         <p>Why You Let Go of an Umbrella</p>
      </div>
      <div class="trending2 trends">

      </div>
      <div class="trending3 trends">

      </div>
      <div class="trending4 trends">

      </div>
    </div>

  </div>

</div>
