<div>
  <div class="top-nav">
    <img src="../../assets/weatherChannelLogo.png" alt="Weather Channel Logo" id='weatherChannelLogo'>
    <div class="inputLength">
      <div id='input'>
        <img src="../../assets/magnifyingglass.png" alt="search weather at your location" id='magnify'>
        <input type="text" placeholder="Show me the weather in... city, zip, or place" id='searchInput'>
      </div>
    </div>
    <div class="menu">
      <a><img src="../../assets/us.png" alt="US Fahrenheight" id='us'></a>
      <div class="vl">
      </div>
      <a><img src="../../assets/menu.png" alt="Menu" id='menu'></a>
    </div>
  </div>
  <div class="middle-nav">
    <img src="../../assets/weather-temp.png" alt="weather">
  </div>

</div>
