<div>
  <div class="top-nav">

    <div class="top-nav-width">
      <a><img src="../../assets/img/weatherChannelLogo.png" alt="Weather Channel Logo" id='weatherChannelLogo'></a>
      <div class="inputLength">
        <div id='input'>
          <img src="../../assets/img/magnifyingglass.png" alt="search weather at your location" id='magnify'>
          <input type="text" placeholder="Show me the weather in... city, zip, or place" id='searchInput'>
        </div>
      </div>
      <div class="menu">
        <a><img src="../../assets/img/us.png" alt="US Fahrenheight" id='us'></a>
        <div class="vl">
        </div>
        <a><img src="../../assets/img/menu.png" alt="Menu" id='menu'></a>
      </div>
    </div>
  </div>
  <div class="middle-nav">
    <div class="middle-nav-width">
      <img src="../../assets/img/weather-temp.png" alt="weather">
    </div>
  </div>
  <div class="bottom-nav">
    <div class="bottom-nav-width">
      <ul>
        <li [id]='index.information' *ngFor='let index of firstLists' (click)='onClick(index.information)'>
        <span>{{index}}</span></li>
      </ul>
    </div>
  </div>

</div>
