


  <div *ngIf="newDrink" newDrinks>
    <input #name placeholder="Alcohol Drink Name">
    <input #brand placeholder="Brand Name">
    <input #alcoholContent type='number' placeholder="alcoholContent">
    <input #flavor placeholder="Flavor">
    <input #price type='number' placeholder="Price">
    <button (click)="onSubmit(name.value, brand.value, alcoholContent.value, flavor.value, price.value); name.value=''; brand.value=''; alcoholContent.value=''; flavor.value=''; price.value='';">Submit!</button>
  </div>
